@import "../sass/vars";

.book-selected {
    // border: 3px solid aqua;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    
//   border-image-source: linear-gradient(to left, yellow, #B2FF59);
  border-image-source: linear-gradient(135deg, yellow, #b1bb2d);

}

.book-not-selected{

}